extends layout

block content

    // Home Section
    section#home.home
      .container
        .row
          .col-sm-12
            .main_home_slider.text-center
              .single_home_slider
                .home-overlay
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h2 Philippine National Holidays and PUP Events | 2017.
                  .separator
                  p.subtitle
                    | Mark your day and plan for these upcoming events 
                    br
                    | 
                  .home_btn
                    a.btn(href='/blobs') View List
              // End of single_home_slider
              .single_home_slider
                .home-overlay
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h2 Holidays | 2017.
                  .separator
                  p.subtitle
                    | Malacañang has released the list of holidays for 2017.
                    br
                    |                                         
                  .home_btn
                    a.btn(href='/blobs') View List
              // End of single_home_slider
              .single_home_slider
                .home-overlay
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h2 University Events | 2017.
                  .separator
                  p.subtitle
                    |  Be always updated on these School Events so you won't miss a thing!
                    br
                    |                                        
                  .home_btn
                    a.btn(href='/blobs') View List
              // End of single_home_slider
    // End of Home Section
    // Clients Section
    section#clients.clients.sections
      .container
        .row
          .col-sm-12
            .main_clients_area.text-center
              .head_title
                h1 Did you know?
              // End of head title
              #example3.slider-pro
                .sp-slides.sps_slider
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') Christmas Day
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') in the Philippines
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              Christmas is one of the most widely celebrated holidays in the Philippines. Filipinos take pride in having the longest Christmas celebration in the world. As soon as the month ending with "ber" rolls around, preparations begins. Christmas parties are held everywhere - in schools and offices one after the other.
                        // End of col-sm-6
                    // End of col-sm-12
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') Independence 
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') Day in the Philippines
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              is is a holiday when many people, including government officials, employees, and students, participate in nationwide parades. Many Filipinos spend the day in parks and malls. Many Filipino communities in other countries also observe the nation’s Independence Day celebrations.
                        // End of col-sm-6
                    // End of col-sm-12
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') New Year's Day
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') in the Philippines
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              Many Filipino people unite on New Year’s Eve, to celebrate a midnight meal known as the Media Noche. It is also common to stay awake to greet the coming of the New Year. New Year’s Day is also characterized by Filipinos lighting fireworks and making a lot of noise to drive away evil spirits. 
                        // End of col-sm-6
                    // End of col-sm-12
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') National Heroes
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') Day in the Philippines
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              | Celebrated as early as 1931, this holiday honors and remembers all Philippine national heroes. This holiday commemorate and honors prominent figures in Philippine history, past and present, who have given much to the cause of freedom, justice, and Philippine independence and nationhood.
                        // End of col-sm-6
                    // End of col-sm-12
          // End of col-sm-12
        // End of row
      // End of Contaier
    // End of portfolio Section
