extends layout

block content

    // Home Section
    section#home.home
      .container
        .row
          .col-sm-12
            .main_home_slider.text-center
              .single_home_slider
                .home-overlay
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h2 Philippine National Holidays and PUP Events | 2017.
                  .separator
                  p.subtitle
                    | asheijeroerke 
                    br
                    |                                         dheikjrekr
                  .home_btn
                    a.btn(href='/eventslist') View List
              // End of single_home_slider
              .single_home_slider
                .home-overlay
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h2 Holidays | 2017.
                  .separator
                  p.subtitle
                    | rewijkwolkwl 
                    br
                    |                                         rekwjijwokwejweio
                  .home_btn
                    a.btn(href='/eventslist') View List
              // End of single_home_slider
              .single_home_slider
                .home-overlay
                .main_home.wow.fadeInUp(data-wow-duration='700ms')
                  h2 University Events | 2017.
                  .separator
                  p.subtitle
                    | ehwuiqjwiq 
                    br
                    |                                         eh3wjkemkqwem
                  .home_btn
                    a.btn(href='/eventslist') View List
              // End of single_home_slider
    // End of Home Section
    // Clients Section
    section#clients.clients.sections
      .container
        .row
          .col-sm-12
            .main_clients_area.text-center
              .head_title
                h1 This Month's Events
              // End of head title
              #example3.slider-pro
                .sp-slides.sps_slider
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') Classes Resume
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') January 4
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        // End of col-sm-6
                    // End of col-sm-12
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') Midterms
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') January 23
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        // End of col-sm-6
                    // End of col-sm-12
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') New Year's Day
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') January 1
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        // End of col-sm-6
                    // End of col-sm-12
                  .sp-slide
                    .col-sm-12
                      .row
                        .col-sm-6.col-xs-6
                          .single_left_text.text-right
                            h4.sp-layer(data-horizontal='right', data-vertical='0', data-width='81%', data-show-transition='left', data-show-delay='200') Chinese NY
                            .separator.sp-layer.sp-black(data-horizontal='340', data-vertical='70')
                            p.sp-layer(data-horizontal='right', data-vertical='100', data-width='81%', data-show-transition='left', data-show-delay='400') January 28
                        // End of col-sm-6
                        .col-sm-6.col-xs-6
                          .single_right_text.text-left
                            p.sp-layer.right_sp_layer(data-width='100%')
                              | Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                              | totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                        // End of col-sm-6
                    // End of col-sm-12
          // End of col-sm-12
        // End of row
      // End of Contaier
    // End of portfolio Section
